/* Container styles */
div {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Input styles */
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styles */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Error message styles */
  p.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    div {
      max-width: 100%;
    }
  }
  